<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Kasir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Selamat Datang di Aplikasi Kasir</h1>
    </header>
    <main>
        <section class="action-section">
            <a href="{{ url_for('add_product') }}" class="btn">Tambah Produk</a>
        </section>
        <section class="report-section">
            <a href="{{ url_for('financial_report') }}" class="btn">Laporan Keuangan</a>
        </section>
    </main>
</body>
</html>
